<?xml version="1.0" ?>
<model>
    <name>laproscopic_grasper</name>
    <version>1.0</version>
    <sdf version="1.9">urdf/laproscopic_grasper.urdf.xacro</sdf>
    <author>
        <name>Antigravity</name>
        <email>user@example.com</email>
    </author>
    <description>
        Surgical robot model with laparoscopic grasper.
    </description>
</model>
